
.dropdown{
    font-family: 'Inter', sans-serif;
    color: var(--primary);
    font-weight: 400;
    display: flex;
    flex-direction: column;


}
.dropdownContainer{
    border-radius: 6px;
    border: 1px solid var(--primary);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    color: var(--primary);
    font-weight: 400;
    cursor: pointer;
    position: relative;
    background-color: var(--white);
}

.dropdownToggle{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.dropdownList{
    position: absolute;
    border-radius: 6px;
    transform: translate(-0.5rem, 2.1rem);
    border: 1px solid #545f7171;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.dropdownItem{
    padding: 0.5rem;
    background-color: var(--white);
    transition: filter 0.3s ease;
    list-style-type: none;
}

.dropdownItem:hover{
    filter: brightness(0.93);
}