.mainAccDoctor{
    height: 100vh;
}

.titleContainer {
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.titleContainer h2 {
    color: var(--Primary, #545F71);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerForm {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 1px solid var(--primary, #545F71);
    background: var(--tertiary, #EEF1F4);
    padding: 20px 20px 10px 20px;
    color: var(--primary);
    width: 21.5rem;
}
.registerForm label{
    margin-top: 0.55rem;
    margin-bottom: 0.3rem;
}
.doctorAccountInput {
    border-radius: 6px;
    border: 1px solid var(--primary);
    padding: 0.5rem;
    display: flex;
    color: var(--primary);
    font-weight: 400;
    background-color: var(--white);
    font-size: 1rem;
}

.buttonsWrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.cancelButton {
    color: var(--primary);
    border-radius: 6px;
    border: 2px solid var(--primary, #545F71);
    display: flex;
    height: 3rem;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: filter 0.3s ease;
    font-weight: 600;
    font-size: 1rem;
    transition: background 0.1s;
}

.cancelButton:hover{
    background: #dfe6ee;
}