.checkOutsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    margin: 2.5rem;
}

.checkOutsWrapper > h1 {
    align-self: flex-start;
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.25rem;
}