body{
    color: var(--primary);
    font-size: 0.875rem;
}

.loginContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.loginForm{
    background-color: var(--tertiary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 21.55rem;

    padding: 1.25rem;
    border-radius: 20px;
    border: 1px solid var(--Primary, #545F71);
}

.loginForm label{
    display: block;
}

.loginForm input{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 3rem;
}

.loginInput {
    height: 3rem;
    border-radius: 6px;
    border: 1px solid var(--Primary, #545F71);
    background: var(--White, #FFF);
    padding: 0.5rem;
}

.loginForm hr{
    color: var(--primary);
    border: none; 
    border-top: 1px solid var(--primary); 
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.loginNavLink{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    text-decoration: none;
    width: 100%;
    border-radius: 6px;
    border: 2px solid var(--primary);
    height: 3rem;
    font-weight: 600;
    padding: 0.75rem 1rem;
    transition: background 0.1s;
}

.loginNavLink:hover{
    background: #dfe6ee;
}