.button{
    background-color: var(--primary);
    padding: 0.75rem 1rem;
    height: 3rem;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    outline: none;
    transition: background 0.1s;
}

.button:hover{
    background: #3c465a;
}