
.passwordInputContainer{
    font-weight: 400;
    color: var(--primary);
    display: flex;
    flex-direction: column;
}

.passwordField{
    display: flex;
    align-items: center;
    position: relative;
}

.passwordField img{
    position: absolute;
    cursor: pointer;
    right: 0.25rem;
}

.passwordField input{
    border-radius: 6px;
    border: 1px solid var(--primary);
    padding: 0.5rem;
    padding-right: 2rem;
    width: 100%;
    font-size: 1rem;
}