.acoesButtonsWrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.acoesButton {
    color: var(--Primary, #545F71);

    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 600;

    display: flex;

    height: 2.25rem;
    padding: 0 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    border: 2px solid var(--Secondary, #9BA5B7);
    cursor: pointer;
}

.acoesButton:active {
    background-color: var(--Secondary, #9BA5B7);
}
