.cardWrapper {
    display: flex;
    width: 37.5rem;
    padding: 1.25rem;
    justify-content: space-between;
    align-items: center;

    background: var(--Tertiary, #EEF1F4);
    border-radius: 1.25rem;
}

.cardDescricao h1 {
    color: black;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}

.data {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.buttonsWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.buttonsWrapper button {
    display: flex;
    height: 3rem;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    border: 2px solid var(--Primary, #545F71);

    color: var(--Primary, #545F71);

    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}

.buttonsWrapper button:not(:disabled):active {
    background-color: var(--Primary, #545F71);
    color: var(--Tertiary, #EEF1F4);
}
