.usuariosAdminEditarWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5rem;

    padding: 5rem 8.75rem;
}

.paginaTitulo {
    color: var(--Primary, #545F71);
    font-size: 1.5rem;
    font-weight: 400;

    align-self: flex-start;
}

.form {
    border-radius: 1.25rem;
    border: 1px solid var(--Primary, #545F71);
    background: var(--Tertiary, #EEF1F4);

    padding: 1.25rem 1.25rem 0.75rem 1.25rem;
    gap: 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.formMainSection {
    align-self: stretch;

    gap: 0.5rem;

    display: flex;
    flex-direction: column;
}

.formMainSection input {
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid var(--Primary, #545F71);
    background: var(--White, #FFF);

    padding: 0.5rem;
}

.formButtonsSection {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.cadastrarButton, .cancelarButton {
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;

    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

.cadastrarButton {
    background: var(--Primary, #545F71);

    color: var(--White, #FFF);
}

.cancelarButton {
    background-color: var(--Tertiary, #EEF1F4);
    border: 2px solid var(--Primary, #545F71);

    color: var(--Primary, #545F71);
}
