.checkInWrapper {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2.5rem;
    gap: 2.5rem;

}

.checkInWrapperDarker {
    --brightness: 0.8;
    background-color: rgba(0, 0, 0, calc(1 - var(--brightness)));
    filter: brightness(var(--brightness));
}

.checkInWrapper > h1 {
    align-self: flex-start;
}

.contentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.vaga {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1.25rem;
    border-radius: 1.25rem;
    background: var(--Tertiary, #EEF1F4);
}
.vaga h1 {
    color: var(--Primary, #545F71);

    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.vagaData {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 1.25rem;
}
.vagaInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    column-gap: 1.25rem;
}

.vaga div {
    height: 3rem;
    padding: 0.75rem;

    border-radius: 0.5rem;
    border: 1px solid var(--Secondary, #9BA5B7);
    background: var(--Tertiary, #EEF1F4);
}


.candidato {
    width: 100%;

    padding: 1.25rem;
    border-radius: 1.25rem;
    background: var(--Tertiary, #EEF1F4);

    display: flex;
    flex-direction: column;

    gap: 1.25rem;
}

.candidato h1 {
    color: var(--Primary, #545F71);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}

.candidatoInfo {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;

    padding: 0 1.25rem;
}


.codigoAutorizacao {
    width: 100%;
    
    padding: 1.25rem;
    border-radius: 1.25rem;
    background: var(--Tertiary, #EEF1F4);

    display: flex;
    flex-direction: column;

    gap: 1.25rem;
}

.codigoAutorizacaoForm {
    display: flex;
    padding-left: 1.25rem;
    gap: 2.5rem;
}

.codigoAutorizacaoForm input {
    height: 3rem;
    padding: 0 0.25rem;
    border-radius: 0.5rem;
    border: 1px solid var(--Primary, #545F71);
    background: var(--White, #FFF);
}

.codigoAutorizacaoForm button {
    display: flex;
    height: 3rem;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    background: var(--Primary, #545F71);

    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
}



.modalCodigoAutorizacao {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2.5rem;
    gap: 2.5rem;

    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);

    border-radius: 1.25rem;
    border: 1px solid var(--Primary, #545F71);
    background: var(--Tertiary, #EEF1F4);
}

.codigoAutorizacaoMedico {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.625rem;
}

.codigoAutorizacaoMedico h1 {
    color: var(--Primary, #545F71);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.codigoAutorizacaoMedico p {
    color: var(--Primary, #545F71);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 400;
}

.continuarButton {
    display: flex;
    height: 3rem;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    background: var(--Primary, #545F71);

    color: var(--White, #FFF);

    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}
