.modalAvaliacao {
    width: fit-content;

    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translateX(-50%) translateY(-50%);

    display: flex;
    padding: 1.25rem 1.25rem 0.625rem 1.25rem;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    border-radius: 1.25rem;

    border: 1px solid var(--Primary, #545F71);
    background: var(--Tertiary, #EEF1F4);
}

.modalAvaliacao section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.modalAvaliacao label {
    color: var(--Primary, #545F71);

    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.modalAvaliacao input {
    height: 3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--Primary, #545F71);
    background: var(--White, #FFF);
}

.modalAvaliacao textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--Primary, #545F71);
    background: var(--White, #FFF);

    resize: none;
}

.modalAvaliacao button {
    display: flex;
    height: 3rem;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    background: var(--Primary, #545F71);

    align-self: stretch;

    color: var(--White, #FFF);

    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}
