.usuariosAdminWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5rem;

    padding: 5rem 8.75rem;
}

.paginaTitulo {
    color: var(--Primary, #545F71);
    font-size: 1.5rem;
    font-weight: 400;

    align-self: flex-start;
}

.tabela {
    display: grid;
    grid-template-columns: repeat(7, auto);

    width: 60rem;

    border-radius: 0.75rem;
    border: 1px solid var(--Primary, #545F71);
}

.tabela h1 {
    color: var(--Primary, #545F71);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;

    padding: 0.75rem 1rem;
}

.tabela p {
    color: var(--Primary, #545F71);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;

    padding: 1rem;
}
