header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--tertiary);
}

.headerTitleNavLink{
    text-decoration: none;
    font-weight: 700;
    color: black;
    transition: opacity 0.3s;
}

.headerTitleNavLink:hover{
    opacity: 0.7;
}

nav{
    display: flex;
    gap: 1.5rem;
}

.headerNavLink{
    text-decoration: none;
    color: var(--primary);
    transition: opacity 0.3s;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.headerNavLink:hover{
    opacity: 0.7;
}

.headerLogoutNavLink{

    border-radius: 24px;
    border: 2px solid var(--Secondary, #9BA5B7);
    padding: 0.5rem 1rem;
}
