.select {
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid var(--Primary, #545F71);
    background: var(--White, #FFF);

    padding: 0.5rem;
}

.selectOpened {
    border-radius: 0.5rem 0.5rem 0 0;
}
