.searchInputContainer{
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.searchField{
    display: flex;
    align-items: center;
}
.searchField input{
    border-radius: 6px;
    border: 1px solid var(--primary);
    padding: 0.5rem;
    padding-right: 2rem;
}

.searchField img {
    transform: translateX(-2rem);
}