.accountMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.accountContainer{
    color: var(--Primary, #545F71);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    width: 24.05rem;
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid var(--Primary, #545F71);
    background: var(--Tertiary, #EEF1F4);
}

.accountContainer h2{
    color: var(--Primary, #545F71);
    font-weight: 600;
    font-size: 1rem;
}

.accountNavLink{
    color: var(--Primary, #545F71);
    text-decoration: none;
    font-weight: 700;
    border-radius: 20px;
    border-radius: 6px;
    border: 2px solid var(--Primary, #545F71);
    padding: 0.75rem 1rem;
    transition: background 0.1s, color 0.1s;
}

.accountNavLink:hover{
    background: var(--Primary, #545F71);
    color: var(--White, #FFF);
}
