@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root{  
    --primary: #545F71;
    --secondary: #9BA5B7;
    --tertiary: #EEF1F4;
    --white: #FFF;
    --annotations: #F6BE2C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
