.arrowButton {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.arrowButtonRight {
    transform: rotate(180deg);
}

.pageButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #000;

    color: #000;

    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

.pageButtonSelected {
    background: var(--Primary, #545F71);
    color: var(--Tertiary, #EEF1F4);
}
