.mainEdit{
    height: 100vh;
}

.titleContainer {
    display: flex;
    flex-direction: flex-start;
    align-items: center;
    justify-content: flex-start;
    margin-left: 8.75rem;
    margin-top: 7.5rem;
    margin-bottom: 4rem;
}

.titleContainer h2 {
    color: var(--Primary, #545F71);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.5px;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.editForm {
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    border: 0.063rem solid var(--primary, #545F71);
    background: var(--tertiary, #EEF1F4);
    padding: 1.25rem 1.25rem .625rem 1.25rem;
    color: var(--primary);
    gap: 2.5rem;
}

.containerValor label{
    margin-top: 0.55rem;
    margin-bottom: 0.3rem;
}

.editForm label{
    margin-top: 0.55rem;
    margin-bottom: 0.3rem;
}

.horariosWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 21.5rem;
    height: 4.625rem;
    gap: 20px;
    margin-bottom: -1rem;
}

.inputTime{
    width: 10.125rem;
    height: 3rem;
    border-radius: 0.375rem;
    border: 0.063rem solid var(--primary);
    gap: 0.438rem;
    margin-top: 0.438rem;
}

.editInput{
    border-radius: 6px;
    border: 1px solid var(--primary);
    padding: 0.5rem;
    display: flex;
    color: var(--primary);
    font-weight: 400;
    background-color: var(--white);
    font-size: 1rem;
    width: 21.563rem;
    height: 3rem;
    margin-top: 0.438rem;
}

.dropdown{
    margin-top: -1rem;
}

.buttonsWrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.cancelButton {
    color: var(--primary);
    border-radius: 6px;
    border: 2px solid var(--primary, #545F71);
    display: flex;
    height: 3rem;
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: filter 0.3s ease;
    font-weight: 600;
    font-size: 1rem;
    transition: background 0.1s;
}

.cancelButton:hover{
    background: #dfe6ee;
}